.userContainer{
    display: flex;
    gap: 1rem;
    width: 100%;
    justify-content: center;
    background: linear-gradient(180deg, rgba(81, 88, 101, 1) 0%, rgb(34 36 39) 100%);
    padding: 1rem 0px 2rem 0;
}

.userBox{
    display: flex;
    align-items: center;
    gap: .3rem;
    justify-content: center;
    flex-direction: column;
}
.iconBox{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.iconUser{
    margin: -15px 0;
    font-size: 5rem;
}

.iconCrown{
    font-size: 1.5rem;
    margin-bottom: .3rem;
    color: #FFEB3B;
}
.userBox:nth-child(2) {
    order: -1;
  }

  .bgRed{
    background-color: #fa2d38;
  }