.tabContainer{

    display: flex;
    min-width: 22rem;
    width: 50%;
    padding: 8px 0;
    box-shadow: 0 0 14px #0000006e;
    border-radius: 50px;
    background-color: #000;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    bottom: 24px;
    transition: all .3s ease-in-out;
}

.tabContainer a{
    font-size: 2rem;

    border: none;
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.activeButton {
    background-color: #FA2D38;
    color: black;
    font-size: 2.8rem;
    transition: all .5s ease-in-out;
}

.desactiveButton{
background:none;
color: #afafaf;

}