.headerContainer {
    background-color: rgba(255, 255, 255, 0.023);
    width: 100vw;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    flex-direction: row;
}

.headerContainer h3{
margin: 0;
}

.icon{
    font-size: 2rem;
    padding: 0 1rem;
}