.formContainer{
    width: 90%;
    height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.formContainer input{
    width: 90%;
    border: none;
    background-color: #33383f;
    color: #fff;
    outline: none;
    border-radius: 8px 0 0 8px;
    padding: 0 8px;
}

.formContainer button{
    width: 6rem;
    font-size: small;
    border: none;
    padding: 8px;
    background-color: #f5434c;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
}