.listContainer{
    WIDTH: 100vw;
    display: flex;
    overflow: auto;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.listContainer h2{
margin: 0;
}

.listContainer ul{
    display: flex;
    width: 80vw;
    height: 73vh;
    padding: 0;
    margin: 5px 0;
    list-style: none;
    overflow: auto;
    flex-direction: column;
    align-items: center;
}

.listContainer li{
    width: 100%;
    display: flex;
    border-top: solid 1px #3b3b3b;
    height: 7vh;
    align-items: center;
    justify-content: space-between;
}

.listContainer div{
    height: 4rem;
    display: flex;
    align-items: center;
}

.divIcons{
    gap: 1rem;
    font-size: 1.5rem;
}

.iconList{
    background-color: #33383F;
    padding: 8px;
    border-radius: 6px;
}
