.listContainer{
    WIDTH: 100vw;
    display: flex;
    overflow: auto;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.listContainer h3{
margin: 0;
font-weight: 400;
}

.listContainer ul{
    display: flex;
    width: 80vw;
    height: 70vh;
    padding: 0;
    margin: 5px 0;
    list-style: none;
    overflow: auto;
    flex-direction: column;
    align-items: center;
}

.listContainer li{
    width: 100%;
    display: flex;
    border-top: solid 1px #3b3b3b;
    height: 2rem;
    align-items: center;
    padding: 1rem 0;
    justify-content: space-between;
}



.divIcons{
    display: flex;
    gap: 1rem;
    font-size: 1.5rem;
}

.iconList{
    background-color: #33383F;
    padding: 0.3rem;
    border-radius: 6px;
}

.soccerIcon{
    position: fixed;
    font-size: 18rem;
    bottom: 40%;
    color: #33383f69;
    animation: blink 1s infinite;
}

@keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
  
.textoLista{
    display: flex;
    width: 80vw;
    justify-content: space-between;
}

.quantidadeJogador{
    font-weight: 400;
    font-size: larger;
}